<div>
	<div>
		<h3>{{vm.title}}</h3>

	</div>
	<h3>Matching People by Words!</h3>
	<div>
		<h3>Login</h3>
		<form name="loginForm" ng-submit="vm.login(userLog)">
			<input type="text" placeholder="User Name" ng-model="userLog.username" required>
			<input type="text" placeholder="Password" ng-model="userLog.password" required>
			<br>
			<button>Login</button>
		</form>
	</div>
	<br>
	<br>

	<div>
		<h3>Register</h3>
		<form name="registerForm" ng-submit="vm.register(userReg)">
			<input type="email", placeholder="Email", ng-model="userReg.email" required>
			<input type="text" placeholder="User Name" ng-model="userReg.username" required>
			<input type="text" placeholder="Password" ng-model="userReg.password" required>
			<br>
			<button>Register</button>
		</form>
	</div>


</div>