<div>
	<img src="">
	<form>
		<input ng-model="vm.bio.birthday" placerholder="birthday">
		<input ng-model="vm.bio.email" placerholder="email">
		<input ng-model="vm.bio.gender" placerholder="gender">
		<input ng-model="vm.bio.location" placerholder="locatation">
		<input ng-model="vm.bio.name" placerholder="name">
		<input ng-model="vm.bio.phone_number" placerholder="phone number">
		<textarea ng-model="vm.bio.bio" placeholder="bio"></textarea>
		<br>
		<button ng-click="vm.editBio(vm.bio)">Edit</button>
	</form>
</div>
